<app-nav></app-nav>

<router-outlet></router-outlet>


<!-- <button (click)="createUser()">Create User</button>
<button (click)="login()">Login</button>
<p>
  <a href="./assets/files/texto.txt" download="">Decargar</a>
</p>
<p>
  <button (click)="downloadPdf()">Descargar PDF</button>
</p>
<p>
  <input type="file" (change)="onUpload($event)">
  <img   *ngIf="imgRta" [src]="imgRta" >
</p> -->
 <!-- <button (click)=" getProfile()">Profile</button> -->
<!-- <app-products></app-products> -->

<!-- <p><input type="text" [(ngModel)]="imgParent"></p>

<button (click)="toggleImg()">Toggle Image</button>
<p>{{showImg}}</p>
<app-img *ngIf="showImg" (loaded)="onLoaded($event)"  [img]="imgParent"></app-img>
<hr> -->



