@import url(./styles/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

*{
  font-family: 'Quicksand',sans-serif;
}

.container-products app-img img{
    border-radius: 10px;
}


body {
  text-align: center;
  padding: 30px;
  background: #f8f4f2;
  font-family: Arial;
}
